body {
  background: url(../img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.wrapper{
  text-align: center;
  padding-top: 10%;
}
.splash{
  text-align: center;
  padding: 2%;
  display: inline-block;
  background-color: rgba(133, 72, 54, 0.5);
  border-radius: 5%;
  color: rgba(205, 204, 205);
}

.logo{
  font-family: 'Homemade Apple',
  cursive;
}

.blockquote-footer{
    float:right;
     color: rgba(205, 204, 205);
}

form{
  text-align: left;
}

.right{
  float: right; 
}